.wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}

.column {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 200px;
    height: 800px;
}

.column__title {
    width: 200px;
    height: 150px;
    border: 1px solid black;
}
.view{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: serif;
    width: 200px;
    height: 150px;
}
.edit {
    box-sizing: border-box;
    border: 3px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-size: 18px;
    width: 200px;
    height: 150px;
}
input{
    appearance: none;
    outline: 0;
    box-shadow: none;
}

.column__body {
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    border: 1px solid black;
}
.block{
    position: absolute;
    width : 200px;
    height : 150px;
}
.body-elem{
    position: absolute;
    left: 10px;
    top: 0;
    width : 180px;
    height : 130px;
}
.elem-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 100px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    background : white;
    z-index: 2000;
}
.btn{
    width: 70px;
    height: 20px;
    background : rgb(0, 0, 0);
    color: white;
}
.elem-form input{
    width: 295px;
    background : white;
    border: 1px solid black;
}
.elem-form textarea{
    width: 295px;
    height: 200px;
    border: 1px solid black;
    background : white;
}

.plus {
    position: relative;
    left: 250px;
    top: 15px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.plus__one {
    position: absolute;
    left: 0px;
    top: 21px;
    width: 50px;
    height: 10px;
    background-color: yellow;
}

.plus__two {
    position: absolute;
    left: 21px;
    top: 0px;
    width: 10px;
    height: 50px;
    background-color: yellow;
}